<!doctype html>
<html lang="en" data-framework="angularjs" ng-app="commentapp">
	<head>
		 <script src="bower_components/jquery/dist/jquery.min.js"></script>
		 <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
		 <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
		<meta charset="utf-8">
		<title>Comment System</title>
		
		<style>[ng-cloak] { display: none; }</style>
	</head>
	<body ng-controller="CommentCtrl" style="padding: 10px">
		<h1>Comment System</h1>
		This is Comment System powered by Spring MVC and AngularJS by Henry Chan
		<br/>
		<a href = "https://github.com/hchan/commentSystem">Git Location</a>
		<hr/>
		
		<style type="text/css">
  .css-form input.ng-invalid.ng-touched {
    background-color: #FA787E;
  }

  .css-form input.ng-valid.ng-touched {
    background-color: #78FA89;
  }
</style>
		
<div id="newCommentForm" style="border:1px solid black;">

Create a new comment...<br/>
Comment Text: <input type="text" ng-model ="comment.text" required><br/>
User First Name: <input type="text" ng-model ="comment.user.firstName" required><br/>
User Last Name: <input type="text" ng-model ="comment.user.lastName" required><br/>
User Profile: <input type="text" ng-model ="comment.user.profile"><br/>
<input type="button" id="create" value="Create" ng-click="create()"/>
</div>
<br/><br/>
Number of comments {{comments.length}}
<div>
<ul class="commentContainer">
    <li class="animate-repeat" ng-repeat="comment in comments">
  
      {{parseCommentText(comment)}} 
      
      <span ng-if="comment.showFullText">{{comment.text}}</span>
       <span ng-if="!comment.showFullText">{{comment.shortText}} <a href="#" ng-click="showFullText(comment)">Read More</a></span>
      created on {{comment.createdDate | date:'yyyy-MM-dd HH:mm:ss Z'}} by 
      <a href="#" ng-click="showProfile(comment)">{{comment.user.firstName}}</a>
    </li>
    <li class="animate-repeat" ng-if="results.length == 0">
      <strong>No results found...</strong>
    </li>
  </ul>
</div>  
		</script>
		<script src="bower_components/angular/angular.js"></script>
		<script src="bower_components/angular-modal-service/dst/angular-modal-service.min.js"></script>  
		<script src="js/app.js"></script>
		<script src="js/controllers/commentCtrl.js"></script>
		<script src="js/controllers/profileCtrl.js"></script>
		<script src="js/filters/commentFilter.js"></script>
	</body>
</html>
