<!doctype html>
<html lang="en" data-framework="angularjs" ng-app="commentapp">
	<head>
		<meta charset="utf-8">
		<title>AngularJS • TodoMVC</title>
		
		<style>[ng-cloak] { display: none; }</style>
	</head>
	<body ng-controller="CommentCtrl">
		<h1>Comment System</h1>
		This is Comment System powered by Spring MVC and AngularJS by Henry Chan
		<br/>
		<a href = "https://github.com/hchan/commentSystem">Git Location</a>
		<hr/>
<div id="newCommentForm" style="border:1px solid black;">

Create a new comment...<br/>
Comment Text: <input type="text" ng-model ="comment.text"><br/>
User First Name: <input type="text" ng-model ="comment.user.firstName"><br/>
User Last Name: <input type="text" ng-model ="comment.user.lastName"><br/>
User Profile: <input type="text" ng-model ="comment.user.profile"><br/>
<input type="button" id="create" value="Create" ng-click="create()"/>
</div>
<br/><br/>
Number of comments {{comments.length}}
<div>
<ul class="commentContainer">
    <li class="animate-repeat" ng-repeat="comment in comments">
      {{comment.text}} created on {{comment.createdDate | date:'yyyy-MM-dd HH:mm:ss Z'}} by {{comment.user.firstName}}
    </li>
    <li class="animate-repeat" ng-if="results.length == 0">
      <strong>No results found...</strong>
    </li>
  </ul>
</div>  
		</script>
		<script src="bower_components/todomvc-common/base.js"></script>
		<script src="bower_components/angular/angular.js"></script>
		<script src="bower_components/angular-route/angular-route.js"></script>
<!-- 		<script src="js/app.js"></script> -->
		<script src="js/controllers/commentCtrl.js"></script>
<!-- 		<script src="js/services/todoStorage.js"></script> -->
<!-- 		<script src="js/directives/todoFocus.js"></script> -->
<!-- 		<script src="js/directives/todoEscape.js"></script> -->
	</body>
</html>
